<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051313678905-qbv207i11750uvd7830uql7tcsrq6jmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051313678905-qbv207i11750uvd7830uql7tcsrq6jmr</string>
	<key>API_KEY</key>
	<string>AIzaSyBJhlySa8QCWZ8PL5wYokEzUnJnAZJAvro</string>
	<key>GCM_SENDER_ID</key>
	<string>1051313678905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.breakawaydesign.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-adeb5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-adeb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051313678905:ios:386985a114b94f94fb7be8</string>
</dict>
</plist>